<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="sys_estudio_2023.My.MySettings.ministerio_seguridadConnectionString"
            connectionString="Data Source=DESKTOP-2Q9U9EP;Initial Catalog=ministerio_seguridad;User ID=sa; Password = :Redragon564."
            providerName="System.Data.SqlClient" />
        <!--<add name="sys_estudio_2023.My.MySettings.ministerio_seguridadConnectionString1"
            connectionString="Data Source=DESKTOP-2Q9U9EP;Initial Catalog=ministerio_seguridad;User ID=sa; Password = :Redragon564."
            providerName="System.Data.SqlClient" />-->
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>